In [1]:
temp_C = float(input("Enter temp in Celcius: "))
temp_F = (9/5 * temp_C) + 32
print("The equiv. temperature in Fahrenheit is", temp_F)

Enter temp in Celcius:  0

The equiv. temperature in Fahrenheit is 32.0

In [95]:
my_list = [10, 'ade', True, 'banana', 65, 7.3]

In [97]:
my_list[1] = 'bola'
print(my_list)

[10, 'bola', True, 'banana', 65, 7.3]

In [11]:
print(my_list)

[10, 'ade', True, 'banana', 65, 7.3]

In [17]:
my_list[-1]

7.3

In [35]:
my_list[0::2]

[10, True, 65]

In [39]:
# List methods
my_list.append(4)

In [41]:
my_list

[10, 'ade', True, 'banana', 65, 7.3, 4]

In [43]:
list_2 = ['orange', 'apple']
my_list.extend(list_2)
print(my_list)

[10, 'ade', True, 'banana', 65, 7.3, 4, 'orange', 'apple']

In [49]:
my_list.insert(0, False)
print(my_list)

[False, 10, 'ade', True, 'banana', 65, 7.3, 4, 'orange', 'apple']

In [51]:
list3 = [2, 4, 6, ['age', 'state'], 5.6]

In [65]:
list3[3][1]

'state'

In [75]:
# Dictionary
my_dict = {'name': ['Abdul', 'Ummi', 'Faisal'], 'age':[32,45,69],  'country':['Nigeria', 'Rwanda', 'Congo']}

In [131]:
my_dict['name'][0] = 'Ola'
print(my_dict)

{'name': ['Ola', 'Ummi', 'Faisal'], 'age': [32, 45, 69], 'country': ['Nigeria', 'Rwanda', 'Congo']}

In [77]:
my_dict['name']

['Abdul', 'Ummi', 'Faisal']

In [79]:
my_dict.get('age')

[32, 45, 69]

In [81]:
my_dict.keys()

dict_keys(['name', 'age', 'country'])

In [83]:
my_dict.values()

dict_values([['Abdul', 'Ummi', 'Faisal'], [32, 45, 69], ['Nigeria', 'Rwanda', 'Congo']])

In [135]:
#Tuple

my_tup = (10, 'ade', True, 'banana', 65, 7.3, 4)

In [89]:
print(type(my_tup))

<class 'tuple'>

In [91]:
my_tup[1]

'ade'

In [101]:
my_tup[1:]

('ade', True, 'banana', 65, 7.3, 4)

In [103]:
#Set 
my_set = {1, 2, 1, 5, 6, 6}

In [105]:
print(my_set)

{1, 2, 5, 6}

In [107]:
my_set[1]

TypeError: 'set' object is not subscriptable

In [117]:
list4 = my_list.extend(['True', 'banana'])

In [123]:
my_list

[10, 'bola', True, 'banana', 65, 7.3, 'True', 'banana', 'True', 'banana']

In [125]:
list4 = my_list.copy()

In [127]:
list4

[10, 'bola', True, 'banana', 65, 7.3, 'True', 'banana', 'True', 'banana']

In [129]:
set(list4)

{10, 65, 7.3, True, 'True', 'banana', 'bola'}

In [133]:
my_set

{1, 2, 5, 6}

# Conditional Statements

In [15]:
# IF statement: Always evaluates as long as the its condition is True
number = eval(input("Enter an integer: "))
if number % 5 == 0:
    print("High Five")
if number % 2 == 0:
    print("High Even")

Enter an integer:  5.5

In [17]:
# IF ELSE Statement: decides which statement to execute based on whether the condition is True or False
# Eample 1: Even odd Evaluator
number = eval(input("Enter an integer: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer:  5.5

Odd

In [27]:
# Example 2: Find the area of a circle if the radius is a non-negative number
import math
radius = eval(input("Enter a value for the radius: "))
if radius >= 0:
    area = math.pi * radius**2
    print("The area of a circle with radius of {} is {:.4f}.".format(radius, area))

Enter a value for the radius:  5

The area of a circle with radius of 5 is 78.5398.

In [29]:
# IF ElIF ELSE Statement: The ELIF allows us to have multiple alternatives
#Example: The Grade Calculator
score = eval(input("Enter your score: "))
if score >= 70:
    grade = 'A'
elif score >= 60:
    grade = 'B'
elif score >= 50:
    grade = 'C'
elif score >= 40:
    grade = 'D'
else:
    grade = 'F'
print(f"Your grade for your exam score is {grade}")

Enter your score:  50

Your grade for your exam score is C

# Loops

In [32]:
# Loops are used to run a program repeatedly
# Example 1: Print the TheColossalTechie is 6 foot 5inches tall 5 times
print("TheColossalTechie is 6 foot 5 inches tall")
print("TheColossalTechie is 6 foot 5 inches tall")
print("TheColossalTechie is 6 foot 5 inches tall")
print("TheColossalTechie is 6 foot 5 inches tall")
print("TheColossalTechie is 6 foot 5 inches tall")

TheColossalTechie is 6 foot 5 inches tall
TheColossalTechie is 6 foot 5 inches tall
TheColossalTechie is 6 foot 5 inches tall
TheColossalTechie is 6 foot 5 inches tall
TheColossalTechie is 6 foot 5 inches tall

In [34]:
#With loops
# For Loop
for i in range(0, 5):
    print("TheColossalTechie is 6 foot 5 inches")

TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches

In [36]:
# While loop
count = 0
while count < 5:
    print("TheColossalTechie is 6 foot 5 inches")
    count += 1

TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches

In [40]:
# Example 2: Sum all the number from 1 - 20
# For loop:
sum = 0
for i in range(1, 10):
    sum += i
print(sum)

45

In [44]:
# Whle Loop
count = 1
sum = 0
while count < 10:
    sum += count
    count += 1
print(sum)

45

 All the examples we have treated so far are called counter-controlled loop, because we know exactly the number of times we are running the loop.

In [53]:
# Looping through a sequential-object type like list, strings and tuples

for i in range(5):
    print(i)

0
1
2
3
4

In [63]:
# backwards
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

## Break and Continue

These keywords provides additional control to the loop

In [74]:
# Break is used to terminate a loop
count = 1
sum = 0
while count < 10:
    sum += count
    count += 1
    if sum >= 30:
        break
print(sum)
print(count)

36
9

In [78]:
# Continue is used to skip an iteration
count = 1
sum = 0
while count < 10:
    count += 1
    #if count == 5:
       # continue
    sum += count
print(sum)

54

# Functions

Functions can be used to define reusable code and organize and simplify code.

In [83]:
# Example: The fuction to find the maximum of two numbers
def max(num1, num2):
    if num1 > num2:
        result = num1
    else:
        result = num2
    return result # Value-returning function

max(5, 2)

5

In [85]:
# Example: create a function that print a message n times

def printer(message, n):
    for i in range(n):
        print(message)

printer("TheColossalTechie is 6 foot 5 inches", 5)

TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches
TheColossalTechie is 6 foot 5 inches

# Exception Handling

These are errors that occurs at runtime

In [116]:
# Example
def CelciusToFarenheit_RankineConverter(temp_C, unit):
    if unit == "F":
        return (temp_C * (9/5)) + 32
    elif unit == "R":
        return temp_C * (9/5) + 491.67
    else:
        print("Enter a valid parameter")

CelciusToFarenheit_RankineConverter("a", 5)

Enter a valid parameter

In [106]:
# How to handle this exception
try:
    def CelciusToFarenheit_RankineConverter(temp_C, unit):
        if unit == "F":
            return (temp_C * (9/5)) + 32
        elif unit == "R":
            return temp_C * (9/5) + 491.67
        else:
            print("Enter a valid parameter")

    CelciusToFarenheit_RankineConverter(5, R)
except NameError :
    print("Enter a valid parameter for the function")

Enter a valid parameter for the function

In [127]:
def divider(num1, num2):
    return num1/num2
divider(10, a)

NameError: name 'a' is not defined

In [141]:
# Example two
try:
    def divider(num1, num2):
        return num1/num2
    divider(10, "a")
except ZeroDivisionError:
    print("You can not divide by zero")
except (TypeError, NameError):
    print("Enter a valid number")

Enter a valid number